---
layout: base.njk
title: Advisory Panel Member
---

<h1 style="text-align: center; padding: 80px; ">{{ title }}</h1>
<div class="container">
    <ul class="image-list">
        <li><img src="../contents/images/advisory/Screenshot_20250811_071928_RU.jpg" alt="Advisory Member 1"></li>
        <li><img src="../contents/images/advisory/Screenshot_20250811_071939_RU.jpg" alt="Advisory Member 2"></li>
        <li><img src="../contents/images/advisory/Screenshot_20250811_071951_RU.jpg" alt="Advisory Member 3"></li>
        <li><img src="../contents/images/advisory/Screenshot_20250811_072002_RU.jpg" alt="Advisory Member 4"></li>
        <li><img src="../contents/images/advisory/Screenshot_20250811_072015_RU.jpg" alt="Advisory Member 5"></li>
        <li><img src="../contents/images/advisory/Screenshot_20250811_072026_RU.jpg" alt="Advisory Member 6"></li>
        <li><img src="../contents/images/advisory/Screenshot_20250811_072037_RU.jpg" alt="Advisory Member 7"></li>
        <li><img src="../contents/images/advisory/Screenshot_20250811_072048_RU.jpg" alt="Advisory Member 8"></li>
        <li><img src="../contents/images/advisory/Screenshot_20250811_072059_RU.jpg" alt="Advisory Member 9"></li>
        <li><img src="../contents/images/advisory/Screenshot_20250811_072107_RU.jpg" alt="Advisory Member 10"></li>
        <li><img src="../contents/images/advisory/Screenshot_20250811_072117_RU.jpg" alt="Advisory Member 11"></li>
        <li><img src="../contents/images/advisory/Screenshot_20250811_072126_RU.jpg" alt="Advisory Member 12"></li>
        <li><img src="../contents/images/advisory/Screenshot_20250811_072137_RU.jpg" alt="Advisory Member 13"></li>
        <li><img src="../contents/images/advisory/Screenshot_20250811_072147_RU.jpg" alt="Advisory Member 14"></li>
        <li><img src="../contents/images/advisory/Screenshot_20250811_072156_RU.jpg" alt="Advisory Member 15"></li>
        <li><img src="../contents/images/advisory/Screenshot_20250811_072207_RU.jpg" alt="Advisory Member 16"></li>
        <li><img src="../contents/images/advisory/Screenshot_20250811_072216_RU.jpg" alt="Advisory Member 17"></li>
        <li><img src="../contents/images/advisory/Screenshot_20250811_072227_RU.jpg" alt="Advisory Member 18"></li>
        <li><img src="../contents/images/advisory/Screenshot_20250811_072238_RU.jpg" alt="Advisory Member 19"></li>
        <li><img src="../contents/images/advisory/Screenshot_20250811_072248_RU.jpg" alt="Advisory Member 20"></li>
        <li><img src="../contents/images/advisory/Screenshot_20250811_072257_RU.jpg" alt="Advisory Member 21"></li>
    </ul>
</div>

<style>
    .container {
        max-width: 800px;
        margin: 0 auto;
    }

    .image-list {
        list-style-type: none;
        padding: 0;
    }

    .image-list li {
        margin-bottom: 20px;
        text-align: center;
    }

    .image-list img {
        max-width: 100%;
        height: auto;
        border: 2px solid #ddd;
        border-radius: 5px;
    }
</style>